{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static '/styles/registration.css' %}">
</head>
{% block content %}
  <center>
    <div class = 'card text-center' style="width: 24rem">
      <img src="{% static '\images\logo.png' %}" class="card-img-top" alt="Logo">
      <form method="post" style="margin-top: 15px;">
        {% csrf_token %}
        <div class="form-error">
          {{form.non_field_error}}
        </div>
        {% for f in form %}
        <div class="row" style="margin:5px;">
          <label class= 'form-label'for="{{f.id_for_label}}">{{f.label}}</label>
          <p class="input-pole">{{f}}</p>
        </div>
        <div class="form-error">
          {{f.errors}}
        </div>
        {% endfor %}
        <input type="submit" value="Sign up" class="button btn ">
      </div>
      </form>
    </div>
  </center>
{% endblock %}