{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SegLunLobe</title>
    <link rel="stylesheet" href="{% static '/details.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light transparent">
    <a class="navbar-brand" href="#">
        <img src="{% static '\images\logo.png' %}" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/segmentation">Segmentation <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/history">History <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="container-fluid main-block">
    <p style="margin-bottom: 15px;">
      Author: {{username}} 
    </p>
    <p style="margin-bottom: 15px;">
      Detail infromation about: {{name_pacient}}
    </p>
    <div class="block-images" style="display: flex; height: 350px;">
      <div>
        <p>Origin</p>
        <div class="image-wrapper">
          <img src="{{chart}}" alt="...">
        </div>
      </div>
      <div>
        <p>Segmentation</p>
        <div class="image-wrapper">
          <img src="{{pred}}"alt="...">
        </div>
      </div>
      <div>
        <p>Superposition</p>
        <div class="stack image-wrapper"> 
          <img src="{{chart}}" class="one" alt="...">
          <img src="{{pred}}" class="two" style= "top:-452px; opacity: 0.3;"alt="...">
        </div>
      </div>
    </div>
    <p>
      Description: {{description}}
    </p>
  </div>
</body>
</html>