{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SegLunLobe</title>
    <link rel="stylesheet" href="{% static '/styles/details.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light transparent">
    <a class="navbar-brand" href="#">
        <img src="{% static '\images\logo.png' %}" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/segmentation">Segmentation <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/history">History <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% if form %}
  {% else %}
  <div class="container-fluid main-block">
    <a type="submit" class="back btn" value='Back' href="http://127.0.0.1:8000/history" style="width: 9rem;">
      Back
    </a>
    <p style="margin-bottom: 15px;">
      Author: {{author}} 
    </p>
    <p style="margin-bottom: 15px;">
      Detail infromation about: {{name_pacient}}
    </p>
    <div class="block-images" style="display: flex; height: 350px;">
      <div>
        <p>Origin</p>
        <div class="image-wrapper">
          <img src="{{chart}}" alt="...">
        </div>
      </div>
      <div>
        <p>Segmentation</p>
        <div class="image-wrapper">
          <img src="{{pred}}"alt="...">
        </div>
      </div>
      <div>
        <p>Superposition</p>
        <div class="stack image-wrapper"> 
          <img src="{{chart}}" class="one" alt="...">
          <img src="{{pred}}" class="two" style= "top:-300px; opacity: 0.3;"alt="...">
        </div>
      </div>
    </div>
    <p>
      Description: {{description}}
    </p>
  </div>
  {% endif %}
  <div>
    {% if not form and author == request.user.username%}
    <form method="POST">
      {% csrf_token %} 
      <input type="submit" class="btn segmentation" value='Edit' style="width: 9rem;" name="edit"></input>
    </form>
    {% endif %}
    {% if form %}
    <form method="POST">
      {% csrf_token %} 
      <div style="display:flex; margin-top: 15px; flex-direction: column; width: 25rem;">
        <label class= 'form-label' for="id_name_pacient">Edit name pacient or other name</label>
        <input id="id_name_pacient" type="text" name="name_pacient" value="{{form.name_pacient.value}}">
      </div>
      <div style="display:flex; margin-top: 15px; flex-direction: column; width: 25rem">
        <label class= 'form-label' for="id_description">Edit description</label>
        <textarea name="description" id="id_description" cols="30" rows="10">{{form.description.value}}</textarea>
      </div>
      <div style="display: flex; margin-top: 15px;">
        <input type="submit" class='btn segmentation' value="Save" name="save" style="margin-right: 30px;"></input>
        <input type="submit" class='btn segmentation' value="Cancel" name='cancel'></input>
      </div>
    </form>
    {% endif %}
  </div>
  {% if not form and author == request.user.username %}
  <div style = "display:flex; margin-top: 15px; flex-direction: column; width: 25rem;">
    <form method="POST">
      {% csrf_token %}
      <label>Add viewers</label>
      <div class="row">
        <input id="id_viewer" type="text" name="viewer"></input>
        <input type="submit" class="btn add" value='Add' style="width: 5rem;" name="add"></input>
      </div>
      {% if error %}
      <p style="color:red; margin-top: 5px;">{{error}}</p>
      {% endif %}
    </form>
  </div>
  {% if viewers %}
  <div>
    <table class="table" style="margin-top: 15px; width: 30rem;">
      <tbody>
        {% for viewer in viewers %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{viewer.username}}</td>
          <td>
            <form method="POST">
              {% csrf_token %}
            <input type="submit" class="btn btn-danger" value='Delete' style="width: 5rem;" name="delete"></input>
            <input type="hidden" name="current_name" value="{{viewer.username}}"></input>
          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> 
  {% endif %}
  {% endif %}
</body>
</html>