{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SegLunLobe</title>
    <link rel="stylesheet" href="{% static '/styles/style_home.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light transparent">
    <a class="navbar-brand" href="#">
        <img src="{% static '\images\logo.png' %}" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/segmentation">Segmentation <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/history">History <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% if request.user.is_authenticated %}
  <div class="conatiner main-text">
    <p class="text-start">
      Hello dear doctor, this project is needed to segmentation of lung lobe
    </p>
    <p class="text-start">
      You can save your history of segmentation in this site
    </p>
  </div>
  {% else %}
  <div class="conatiner main-text">
    <p class="text-start">
      Hello dear doctor, this project is needed to segmentation of lung lobe
    </p>
    <p class="text-start">
      To save segmentation history, please log in
    </p>
  </div>
  {% endif %}
  {% if request.user.is_authenticated %}
  <div class="row" style="margin-left: 0px;">
    <p style="color:#4C55A6; font-size: 18px;"> {{user.username}}</p>
    <a type="submit" class="btn auth" href="{% url 'logout' %}" style="margin-left: 20px;">Loogut</a>
  </div>
  {% else%}
  <a href="{% url 'login' %}" class='btn auth' >Login</a>
  <a href="{% url 'register' %}"class='btn reg'>Register</a>
  {% endif %}
</body>
</html>