{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SegLunLobe</title>
    <link rel="stylesheet" href="{% static '/styles/segmentation.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light transparent">
    <a class="navbar-brand" href="#">
        <img src="{% static '\images\logo.png' %}" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/segmentation">Segmentation <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/history">History <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="container-fluid main-block">
    <p>
      Add NIFTI file and choose number slides for segmentation
    </p>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      <div class="row justify-content-start" style="margin-top: 15px;">
        {% if chart %}
        <input type="hidden" name="file" value="{{file}}">
        {% else %}
        <div style="display:flex; flex-direction: column;">
          <label class= 'form-label' for="id_file">File</label>
          {{form.file}}
        </div>
        {% endif %}
        <div style="display:flex; flex-direction: column;">
          <label class= 'form-label' for="id_number_slide">Number slide</label>
          <input id="id_number_slide" type="number" name="number_slide" value="{{ number_slide }}">
        </div>
      </div>
      {% if chart %}
      {% else %}
      <input type="submit" class='btn segmentation' value="Segmentation" name="segmentation" style="margin-top: 15px;"></input>
      {% endif %}
      {% if chart %} 
      <div class="block-images" style="margin-top: 15px; display: flex; height: 350px;">
        <div style="display: flex;">
          <div>
            <p>Origin</p>
            <div class="image-wrapper">
              <img src="data:image/png;base64, {{chart|safe}}" alt="...">
              <input type="hidden" name="chart" value="{{chart}}">
            </div>
          </div>
          <div>
            <p>Segmentation</p>
            <div class="image-wrapper">
              <img src="data:image/png;base64, {{predict|safe}}" alt="...">
              <input type="hidden" name="predict" value="{{predict}}">
            </div>
          </div>
          <div>
            <p>Superposition</p>
            <div class="stack image-wrapper"> 
              <img src="data:image/png;base64, {{chart|safe}}" class="one" alt="...">
              <img src="data:image/png;base64, {{predict|safe}}" class="two" style= "top:-320px; opacity: 0.3;"alt="...">
            </div>
          </div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div style="display:flex; margin-top: 15px; flex-direction: column; width: 25rem;">
        <label class= 'form-label' for="id_name_pacient">Add name pacient or other name</label>
        <input id="id_name_pacient" type="text" name="name_pacient">
      </div>
      <div style="display:flex; margin-top: 15px; flex-direction: column; width: 25rem">
        <label class= 'form-label' for="id_description">Add description</label>
        <textarea name="description" id="id_description" cols="30" rows="10"></textarea>
      </div>
      <div style="display: flex; margin-top: 15px;">
        <input type="submit" class='btn segmentation' value="Save" name="save" style="margin-right: 30px;"></input>
        <input type="submit" class='btn segmentation' value="Cancel" name='cancel'></input>
      </div>
      {% endif %}
      {% endif %}
    </form>
  </div>
</body>
</html>