{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SegLunLobe</title>
    <link rel="stylesheet" href="{% static '/styles/style_segmentation.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light transparent">
    <a class="navbar-brand" href="#">
        <img src="{% static '\images\logo.png' %}" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/segmentation">Segmentation <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/history">History <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="container-fluid main-block">
    <p>
      Add NIFTI file and choose number slides for segmentation
    </p>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      <div class="row justify-content-start">
        {% for f in form %}
        <div style="width: 18rem ;">
          <label class= 'form-label' for="{{f.id_for_label}}">{{f.label}}</label>
          <p class="input-pole">{{f}}</p>
        </div>
        {% endfor %} 
      </div>
      {% if chart %}
      <input type="submit" class='btn segmentation' value="Cancel" name='cancel'></input>
      {% else %}
      <input type="submit" class='btn segmentation' value="Segmentation" name="segmentation"></input>
      {% endif %}
    </form>
    {% if chart %}
    <div class="block-images">
      <div class="row row-cols-2 justify-content-center">
        <div class="col align-self-center">
          <p>Origin</p>
          {% if chart %}
          <img src="data:image/png;base64, {{chart|safe}}" alt="...">
          {% endif %}
        </div>
        <div class="col align-self-center">
          <p>Segmentation</p>
          {% if predict %}
          <img src="data:image/png;base64, {{predict|safe}}" alt="...">
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</body>
</html>