body{
  margin-left: 10%;
  margin-right: 10%;
}
  
.navbar {
  padding: 0px;
  margin-top: 50px;
  justify-content: space-between;
}

nav{
  padding: 0px;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: #4C55A6;
}

.row{
  justify-content: space-between;
}
.row:last-child{
  margin-top: 10px;
}

.container-fluid{
  padding-top: 50px
}

.card{
  margin-bottom: 15px;
  margin-right: 15px;
}

.card-body{
  justify-content: center;
}

.details{
  background-color: #4C55A6;
}

.image-wrapper{
  height: 300px;
  overflow: hidden;
}

.image-wrapper img{
  position: relative;
  top: -52px;
}

.btn{
  color: white;
}
