.main-block{
    padding: 0px;
    padding-top: 50px;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}
  
.navbar {
    padding: 0px;
    margin-top: 50px;
    justify-content: space-between;
}

.input_pole{
    margin-bottom: 0px;
}

nav{
    padding: 0px;
}

p{
    margin-bottom: 0px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #4C55A6;
}

.segmentation{
    margin-top: 10px;
    background-color: #4C55A6;
    color: white;
}

.col{
    padding-right: 0px;
    padding-left: 0px;
}

.segm{
    width: 200px;
    color: #4C55A6;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.image-wrapper{
    height: 300px;
    overflow: hidden;
}

.image-wrapper img{
    position: relative;
    top: -20px;
}

.stack{
    height: 400px;
}

.image-wrapper img .two{
    top:-400px;
    opacity: 0.3;
}